\version "2.18.2"

\include "articulate.ly"

\header {
    title = "Musikalische Notizen."
    composer = "Jens Hoffmann."
}

\paper {
    top-margin = 2\cm
    left-margin = 2\cm
    right-margin = 2\cm
    between-system-space = 1.5\cm
    between-system-padding = #1
    ragged-bottom=##f
    ragged-last-bottom=##f
    ragged-right = ##f
}

